.btn,
a.btn {
    border: 1px solid rgba(47, 43, 67, 0.15);
    border-radius: 5px;
    padding: 10px 19px;

    display: inline-flex;
    position: relative;
    align-items: center;
    gap: 10px;
    transition: all 0.2s ease-in;
    outline-color: var(--green);
}

.btn span,
a.btn span {
    @include desktop {
        display: none;
    }
}

.btn:hover,
a.btn:hover {
    border: 1px solid var(--green);
}

.btn--header,
a.btn--header {
    font-weight: 600;
    color: #fff;
    border: 1px solid transparent;
    padding: 13px 20px;
    background-color: var(--green);
    @include desktop {
        font-size: 14px;
    }
}
.btn--header:hover,
a.btn--header:hover,
.btn--promo:hover,
a.btn--promo:hover,
.btn--logon:hover,
a.btn--logon:hover {
    border: 1px solid transparent;
    background-color: #81d2bc;
}

.btn--promo,
a.btn--promo,
.btn--logon,
a.btn--logon {
    border: 1px solid transparent;
    border-radius: 10px;
    padding: 16px 36px 18px;
    background-color: var(--green);

    font-weight: 600;
    font-size: 16px;
    color: var(--text-color-white);
}

.btn--logon,
a.btn--logon {
    padding: 14px 76px 14px;
}

.btn--call,
a.btn--call {
    border-radius: 10px;
    padding: 16px 36px 18px 36px;
    border: 1px solid #fff;
    justify-content: center;
}

.btn--call:hover,
a.btn--call:hover {
    color: var(--text-color);
    background-color: #fff;
    border: 1px solid transparent;
}

// используется в блоке SEO и форма связи - Юристы портала
.btn-accordion {
    width: 100%;
    border-radius: 10px;
    padding: 16px 36px 18px 36px;
    background-color: #e0ece9;

    font-weight: 600;
    color: var(--green);
}
