.btn,
a.btn {
    border: 1px solid rgba(47, 43, 67, 0.15);
    border-radius: 10px;
    padding: 10px 19px;

    display: inline-flex;
    align-items: center;
    gap: 10px;
}

.btn--header,
a.btn--header {
    font-weight: 600;
    color: #fff;
    border: unset;
    padding: 15px 20px;
    background-color: var(--green);
}
