.svg-icons {
    width: 24px;
    height: 24px;
    color: var(--accent-color);
    transition: all 0.2s ease-in;
}

.svg-icons--green {
    color: var(--green);
}

.svg-icons--white {
    color: var(--page-bg);
}

// шаблон вызова иконки в html
// <svg class="svg-icons">
//     <use href="./img/svg-sprite/sprite.svg#phone"></use>
// </svg>

// при необъходимости менять цвет svg при наведении
// .btn:hover .svg-icons {
//     width: 24px;
//     height: 24px;
//     color: var(--text-color-white);
// }