:root {
	--container-width: 1170px;
	--container-padding: 15px;

	--font-main: "Open Sans", sans-serif;

	--page-bg: #fff;
	--text-color: #000;
	--green: #33836e;

    --laptop-size: 1169px;
	--tablet-size: 959px;
	--mobile-size: 599px;
}

.dark {
    --page-bg: #252526;
    --text-color: #fff;
}