.choose {
    &__info {
        display: flex;
        @include tablet {
            flex-direction: column;
        }
    }
    &__info-img {
        flex: 1;
        margin-top: auto;
    }
    &__info-desc {
        flex: 1;
    }
    &__info-desc p {
        line-height: 1.6;
        margin-bottom: 20px;
    }
    &__info-header {
        margin-bottom: 20px;
    }
    &__list {
        display: flex;
        gap: 48px;
    }
    &__list-item span {
        font-weight: 700;
        font-size: 28px;
        letter-spacing: -0.03em;
        color: var(--green);

        margin-bottom: 10px;
    }
    &__baner-call {
        display: flex;
        justify-content: space-between;
        flex-direction: unset;
        align-items: center;

        color: var(--text-color-white);
        border-radius: 20px;
        background-color: var(--green);
        padding: 31px 57px 34px 60px;
        @include tablet {
            flex-direction: column;
            align-items: flex-start;
        }
        @include tablet {
            padding: 20px;
        }
    }
    &__hot-line p {
        font-weight: 600;
        font-size: 24px;
        padding-bottom: 10px;
    }
    &__hot-line span {
        font-weight: 700;
        font-size: 42px;
        letter-spacing: -0.03em;
        @include small {
            font-size: 36px;
        }
        @include mobile {
            font-size: 30px;
        }
    }
}
