.lawers {
    &__header {
        margin-bottom: 30px;
    }
    &__row {
        display: flex;
        justify-content: space-between;
        gap: 20px;
        @include tablet {
            flex-direction: column-reverse;
            align-items: center;
            gap: 40px;
        }

    }
    &__list {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }
}
