.inputs__textarea {
    border-radius: 10px;
    padding: 12px 16px 8px 16px;
    width: 100%;
    max-width: 577px;
    height: 213px;
    background-color: #fff;
    color: #000;
}

.inputs__textarea::placeholder {
    color: rgba(47, 43, 67, 0.5);
}
.inputs__wrapper-phone,
.inputs__wrapper-name {
    // стави ее при уменьшении экрана
    // width: 100%;
    min-width: 205px;
    position: relative;
}

.inputs__wrapper {
    margin-top: 20px;
    display: inline-flex;
    flex-wrap: wrap;
    gap: 15px;

    margin-bottom: 15px;
}
.inputs__input-phone,
.inputs__input-name {
    width: 100%;
    border-radius: 10px;
    padding: 26px 11px 8px;
    background-color: #fff;
    color: #140a32;
}
.inputs__lable-phone,
.inputs__lable-name {
    position: absolute;
    top: 10px;
    left: 16px;
    font-size: 12px;
    color: rgba(47, 43, 67, 0.4);
}
.inputs__btn {
    // стави ее при уменьшении экрана
    // width: 100%;
    border-radius: 10px;
    padding: 16px 24px 18px 24px;
    background-color: #140a32;

    font-weight: 600;
}
