.nav {
    &__row {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__btn .btn + .btn {
        margin-left: 15px;
    }
    &__nav-list {
        display: flex;
        gap: 30px;
    }
    &__user li+li {
        margin-left: 16px;
    }
    &__user {
        display: flex;
        align-items: center;
    }
    &__link--user {
        display: flex;
        gap: 10px;
    }
    &__link {
        transition: color 0.2s ease-in;
    }
    &__link:hover {
        color: var(--green);
    }
}
