.promo {
    padding-top: 40px;
    &__row {
        display: flex;
        justify-content: space-between;
        gap: 30px;
    }
    &__info {
        flex-grow: 1;
        max-width: 657px;
        padding-top: 50px;
    }
    &__header {
        padding-bottom: 15px;
    }
    &__desc {
        padding-bottom: 30px;
    }
    &__action {
        padding-bottom: 40px;
        display: flex;
        align-items: center;
        gap: 30px;
    }
    &__list {
        width: 628px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 30px;
    }
    &__list-item {
        display: flex;
        gap: 10px;
    }
    &__img {
        position: relative;
        flex-shrink: 0;
        width: 377px;
        height: 377px;
        border-radius: 50%;
        background-color: var(--green);
        overflow: hidden;
    }
    
    &__img::before {
        position: absolute;
        content: '';
        width: 308px;
        height: 402px;
        top: -13px;
        left: 50%;
        transform: translate(-50%, 0);
        
        background-image: url('./../../img/hot-line/main-photo.png');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }

    &__overlay {
        position: relative;
    }
    &__overlay::after {
        position: absolute;
        content: '';
        width: 308px;
        height: 402px;
        top: -89px;
        left: 50%;
        transform: translate(-50%, 0);
        
        background-image: url('./../../img/hot-line/m2.png');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }
}
