.reviews {
    margin-bottom: 80px;
    &__header {
        margin-bottom: 30px;
    }
}

.reviews-slider__wrapper {
    display: flex;
}

.slider-button-next,
.slider-button-prev {
    border-radius: 50%;
    width: 52px;
    height: 52px;
    background-color: rgba(47, 43, 67, 0.04);
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider-button-next:hover,
.slider-button-prev:hover {
    background-color: var(--green);
}

.slider-button-next:hover .svg-icons,
.slider-button-prev:hover .svg-icons {
    color: var(--text-color-white);
}
