.reviews {
    margin-bottom: 80px;
    &__header {
        margin-bottom: 30px;
    }
}

.swiper-wrapper {
    display: flex;
}

.reviews-slider .swiper-button-next,
.reviews-slider .swiper-button-prev {
    border-radius: 50%;
    width: 52px;
    height: 52px;
    background-color: rgba(47, 43, 67, 0.04);
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
    background-color: var(--green);
}

.swiper-button-next:hover .svg-icons,
.swiper-button-prev:hover .svg-icons {
    color: var(--text-color-white);
}
