.seo {
    margin-bottom: 80px;
    // &__row {
    // }
    &__header {
        margin-bottom: 20px;
    }
    &__desc {
        font-size: 16px;
        line-height: 1.6;

        margin-bottom: 30px;
    }
    &__desc p+p {
        padding-top: 10px;
    }
}
