.title-1 {
	font-weight: 700;
	font-size: 38px;
	letter-spacing: -0.03em;
}

.title-2 {
	font-weight: 700;
	font-size: 32px;
	letter-spacing: -0.03em;

	@include tablet {
		font-size: 22px;
	}
}

.title-3 {
	font-weight: 600;
}

.title-4 {
	font-weight: 600;
	font-size: 18px;
}

