.title-1 {
	font-weight: 700;
	font-size: 38px;
	letter-spacing: -0.03em;
}

.title-2 {
	font-weight: 700;
	font-size: 32px;
	letter-spacing: -0.03em;
}

.title-3 {
	font-weight: 600;
}

.title-4 {
	margin: 1em 0 0.5em;
	font-size: 18px;
	font-weight: 700;
	font-family: var(--font-titles);
}
